<h1>Daftar Makanan</h1>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

<table border="1" style = "width: 100%">
    <tr>
        <th>{{1x1}}</th>
        <th>{{1x2}}</th>
        <th>{{1x3}}</th>
    </tr>
    <tr>
        <td>{{2x1}}</td>
        <td>{{2x2}}</td>
        <td>{{2x3}}</td>
    </tr>
    <tr>
        <td>{{3x1}}</td>
        <td>{{3x2}}</td>
        <td>{{3x3}}</td>
    </tr>
    <tr>
        <td>{{4x1}}</td>
        <td>{{4x2}}</td>
        <td>{{4x3}}</td>
    </tr>
</table>