{% extends 'base.html' %}

{% block content %}
<h1>Daftar Makanan</h1>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>


<table border="1" style = "width: 100%">
    <tr>
        <th>Nama</th>
        <th>Jumlah</th>
        <th>Deskripsi</th>
        <th>Tanggal Ditambahkan</th>
    </tr>

{% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_added}}</td>
            <a href="{% url 'main:increment' %}">
                <button>
                    Increment
                </button>
            </a>
        </tr>
    {% endfor %}
</table>

{% comment %} Untuk menampilkan jumlah item {% endcomment %}
<p>Kamu menyimpan {{ jumlah_item }} jenis makanan pada aplikasi ini</p>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}